.card-img-top {
    width: 401.6px;
    height: 232.93px;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}
/* 232.93
    401.6 */
.card {
    margin: 0 auto;
    float: none;
    margin-top: 7%;
    text-align: center;
    color: whitesmoke;
    background-color: transparent;
    border: transparent;
};