.card-img-top {
    width: 250px;
    height: 225px;
    margin: 0 auto;
    float: none;
    vertical-align: middle;
}

.card {
    margin: 0 auto;
    float: none;
    margin-top: 20vh;
    text-align: center;
    color: whitesmoke;
    background-color: transparent;
    border: transparent;
    width: 100%;
    position: relative;
};

