.Navbar {
    background-color: #2f2f2f;
    color: whitesmoke;
}

.navbar-light {
    color: whitesmoke;
}

.dropdown-menu {
    color: white;
}

.dropdown-toggle{
    color: whitesmoke;
}

.navDropdown {
    color: none;
}

.dropdown-toggle {
    color: whitesmoke;
}

.mr-auto {
    color: whitesmoke;
}