.jumbotron.jumbotron-fluid {
    color: whitesmoke;
    background: transparent;
    text-align: center;
}

.mb-80 {
    margin-bottom: 80px;
}

p {
    color: whitesmoke;
}
h4.mt-60 {
    color: whitesmoke;
}

.btn.btn-default {
    color: whitesmoke
}
